 <div class = "container">
  <%= image_tag "minaos.png" %>
 </div>
 <div class = "ask_condition">
  <%= image_tag "ask_condition.png" %>
</div>

<div class = "face-condition">
  <div class="face-pattern"><%= image_tag "usamaru1.jpeg" %></div>
  <div class="face-pattern"><%= image_tag "usamaru2.jpeg" %></div>
  <div class="face-pattern"><%= image_tag "usamaru3.jpeg" %></div>
</div>


<div class = "start">
  <%= image_tag "start.png" %>

</div>
