 <div class = "container">
  <%= image_tag "minaos.png" %>
 </div>
 <div class = "ask_condition">
  <%= image_tag "ask_condition.png" %>
</div>

<div class = "face-condition">
  　
     <div class="face-pattern" onclick="Click_Sub()">
       <%= link_to '#' do%><%= image_tag "condition1.png"  %><% end %></div>
     <div class="face-pattern" onclick="Click_Sub()">
       <%= link_to '#' do%><%= image_tag "condition2.png" %><% end %></div>
     <div class="face-pattern" onclick="Click_Sub()">
       <%= link_to '#' do%><%= image_tag "condition2.png" %><% end %></div>
</div>


<div class = "start" id="start">
  <%= link_to image_tag("start.png"), root_path%>

</div>
